extends layout

block content
    h1= property.Name
    h4 Owned by #{property.Owner}
    hr
    ul.list-group
        li.list-group-item 
            h4 Description : #{property.Description}
        li.list-group-item
            h4 Loocation  : #{property.Location}
        li.list-group-item
            h4 Sq-foot  : #{property.Sqfoot}
        li.list-group-item
            h4 No of BHK  : #{property.BHK}

