doctype html
head
  meta(charset='UTF-8')
  title SmartBricks
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  link(href='/css/Property/navbar.css' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='/css/Property/property.css')
  link(rel='stylesheet' href='/css/Property/image.css')
  link(rel='stylesheet' href='/css/hover.css')
  link(rel='stylesheet' href='/css/Main_Page/footer1.css')
  link(rel="stylesheet" href="/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css")   
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
  //- link(rel='stylesheet' type='text/css' href='https://cdn.staticmb.com/css/header_footer/mb_global_footer_web.css?1.1')
  //- link(rel='stylesheet' href='https://cdn.staticmb.com/propertydetailstatic/03142020050553/css/property-detail-web.css' media='all' type='text/css')
  script(async='' defer='' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC64yq4OZ8jKEdSSW8vZ7v77egzUs-nmoA&callback=initMap' type='text/javascript')

  body 
    div 
      #mySidenav.sidenav
        ul
          li
            a(href='/') Buy
          if !user
            li
              a(href='/users/login') Sell
          else  
            li 
              a(href='/property/sell') Sell
          li
            a(href='/') Statistic
          li
            a(href='/') Filter
          if !user
            li
              a(href='/users/register') SignUp
            li
              a(href='/users/login') Login
          else 
            li 
              a(href='/users/my_property') My Property
            li
              a(href='/users/mychat') My Chat
            li
              a(href='#') My Profile
            li
              a(href='#') History
            li    
              a(href='/users/logput') Logout
      nav.nav
        .container1
          .logo(style='float:left')
            a(href='/') SmartBricks
          #mainListDiv.main_list(style='float:right')
            ul.navlinks
              li
                a(href='/') Buy
              if !user
                li
                  a(href='/users/login') Sell
              else
                li 
                  a(href='/property/sell') Sell
              li
                a(href='/') Statistic
              li
                a(href='/') Filter
              if !user
                li
                  a(href='/users/register') SignUp
                li
                  a(href='/users/login') Login
              else  
                li
                  a(href='/users/my_property') My property
                .dropdown
                  button.dropbtn
                    | Settings 
                    i.zmdi.zmdi-caret-down
                  .dropdown-content
                    a(href='/users/mychat') My Chat
                    a(href='#') My Profile
                    a(href='#') History
                    a(href='/users/logout') Logout
          span.navTrigger
            i
            i
            i
    if user
      a#chat(href='/chat/'+property.ownerid style="color:black") Start a Chat with Owner
    if !uesr
      a#login(href='/users/login' style="color:black") Please Login to chat
        
    .content
      .Wrapper
        .RightContent
          .main_con
            h1 Menu
            li
              a#check1.hvr-bounce-to-left(href='#check') Property Details
            li
              a#second1.hvr-bounce-to-left(href='#second') Description
            li
              a#third1.hvr-bounce-to-left(href='#third') Amenities
            li
              a#forth1.hvr-bounce-to-left(href='#forth') EMI Calculator
            li
              a#demo51.hvr-bounce-to-left(href='#demo5') What's Nearby
        
        .LeftContent
          .img 
            .container
              h1 #{property.Name}
              h3 In #{property.Location} by #{property.Owner}
              h2 #{property.BHK} BHK | ₹ #{property.Price}
              a.btn.btn-white.btn-animation-1(href='#check') Explore More
              if !user
                a.btn.btn-white.btn-animation-1(href='/users/login') Contact Owner
              else  
                a.btn.btn-white.btn-animation-1(href='#') Contact Owner
          .img3#first
            .cent2
              input#check(type='checkbox')
          .img2
            .cent
              h1 Property Details
              hr
              .row
                .left2
                  img#myimage(src='/uploads/'+property.images[0] style='max-height:250px;height:250px;cursor: pointer' onclick='openModal();currentSlide(1)')
                  h5 #{property.images.length} More
                #myModal.modal
                  span.close.cursor(onclick='closeModal()') &times;
                  .modal-content
                    each image, i in property.images
                      .mySlides
                        .numbertext #{i+1} / #{property.images.length}
                        img(src='/uploads/'+image style='width:100%')
                    // Next/previous controls
                    a.prev(onclick='plusSlides(-1)') &#x276E;
                    a.next(onclick='plusSlides(1)') &#x276F;
                    // Caption text
                    .caption-container
                      p#caption
                      // Thumbnail image controls
                      each image, i in property.images
                        .column
                          img.demo(src='/uploads/'+image onclick=`currentSlide(${i+1})` alt='')
                .right2
                  h1 Bedroom
                  h1 Bathroom 
                  br
                  h2 #{property.BHK}
                  h2 NA
                  .hrdashed2
                  h1 Sq-feet
                  br
                  h1 #{property.Sqfoot}
                  .hrdashed2
                  h1 Developer
                  br
                  h1 NA
                  if !user
                    a.btn2.btn-white.btn-animation-1#second(href='/users/login') Contact Owner
                  else
                    a.btn2.btn-white.btn-animation-1#second(href='#') Contact Owner
                  

          .img2
            .cent
              h1 Description
              hr 
              h4 #{property.Description}
              .hrdashed
              .row
                .left
                  h3 Price Breakdown  
                .right
                  if property.Price < 10000000
                    h3 ₹ #{property.Price/100000} Lakh
                  else  
                    h3 ₹ #{property.Price/10000000} Cr
              .hrdashed
              .row  
                .left 
                  h3 City
                .right
                  h3 #{property.Location}
              .hrdashed
              .row  
                .left 
                  h3 Car Parking
                .right
                  h3 Valet Parking
              .hrdashed
              .row  
                .left 
                  h3 Water Availability
                .right
                  if property.water == true
                    h3 24 X 7 Availabile
                  else  
                    h3 No 
              .hrdashed
              .row  
                .left 
                  h3 Electricity
                .right
                  if property.electricity == true
                    h3 Yes
                  else  
                    h3 No
              .hrdashed
              .row  
                .left#third 
                  h3 Lift
                .right
                  if property.Lift == true
                    h3 Yes
                  else  
                    h3 No
              .hrdashed
              .row  
                .left 
                  h3 Funnishing
                .right
                  h3 Unfurnished
          .img2
            .cent 
              h1 Amenities
              hr
              .row
                if property.verified == true
                  img(src='/images/icons/assured.png' style='width:4%;height:4%;')
                  h4 SmartBrick Assured
              .row
                if property.Lift == true
                  img(src='/images/icons/noun_lift_1724379.png' style='width:4%;heigth:4%;')
                  h4 Lift
              .row
                if property.Gym == true
                  img(src='/images/icons/noun_Gym_668709.png' style='width:4%;heigth:4%;')
                  h4 Gym
              .row
                if property.Lawn_Free_Space == true
                  img(src='/images/icons/noun_Grass and Flower_833055.png' style='width:4%;heigth:4%;')
                  h4 Lawn / Free Space
              .row
                if property.Security == true
                  img(src='/images/icons/Security.png' style='width:4%;heigth:4%;')
                  h4 24 X 7 Security
              .row
                if property.CCTV == true
                  img(src='/images/icons/CCTV.png' style='width:4%;heigth:4%;')
                  h4 CCTV  
              .row
                if property.Club_House == true
                  img(src='/images/icons/Clubhouse.png' style='width:4%;heigth:8%;')
                  h4 Club House 
              .row
                if property.School_within_5 == true
                  img(src='/images/icons/School.png' style='width:4%;heigth:4%;')
                  h4 School within 5 KM 
              .row
                if property.Hospital_within_5 == true
                  img(src='/images/icons/Hospital.png' style='width:4%;heigth:4%;')
                  h4 Hospital within 5 KM    
              .row 
                if property.Airport_within_5 == true
                  img(src='/images/icons/Airport.png' style='width:4%;heigth:4%;')
                  h4 Airport within 5 KM    
              .row 
                if property.Railway_within_5 == true
                  img(src='/images/icons/railway.png' style='width:4%;heigth:4%;')
                  h4 Railway Station within 5 KM 
              input#forth(type='checkbox')    
                    
          .img2
            .cent
              h1 EMI Calculator
              hr 
              .row
                .leftside
                  p Home Loan Amount in Lakh
                .rightside
                  p#demo
              .slidecontainer 
                input.slider#slider(type='range' min='1' max='100' value='50')
              .row
                .leftside
                  p Intrest Rate
                .rightside
                  p#demo2
              .slidecontainer 
                input.slider#slider2(type='range' min='7' max='20' step='0.5' value='8.5')
              .row
                .leftside
                  p Loan Tenure
                .rightside
                  p#demo3
              .slidecontainer 
                input.slider#slider3(type='range' min='0' max='45' step='1' value='10')
              span(style='font-size:30px;color:black;cursor:pointer;color:red' onclick='calculate()') Calculate
              .row  
                span Monthly Payment:
              .row
                p#rs ₹
                p#demo4
              .row
                span Total Payment:
              .row
                p#rs1 ₹
                p#demo5
              .row
                span Total Intrest:
              .row
                p#rs2 ₹
                p#demo6


                

                
              


          .img2
            .cent
              h1 What's Nearby
              hr
              #map



          .img2#footer
            .cent2

          footer.site-footer
            .container
              .row
                .col-sm-12.col-md-6
                  h6 About SmartBricks
                  p.text-justify
                      | SmartBricks is a high-end property portal that caters to a global market with its unique services and novel online features. SmartBricks have been launched in the year 2020 by a group of students. The SmartBricks design is based on rigorous research, unique product developments, and innovative initiative which has been readily accepted by users. In an attempt to best serve the users, features on the SmartBricks realty portal are constantly invented, evaluated and upgraded.
                .col-xs-6.col-md-3
                  h6 Categories
                  ul.footer-links
                    li
                      a(href='/') Buy
                    if !user
                      li
                        a(href='/users/login') Sell
                    else
                      li
                        a(href='/property/sell') Sell
                    li
                      a(href='#') Statistic
                    li
                      a(href='#') Filter
                .col-xs-6.col-md-3
                  h6 Quick Links
                  ul.footer-links
                    li
                      a(href='/#aboutUs') About Us
                    li
                      a(href='/contactus') Contact Us
                    li
                      a(href='#') Contribute
                    li
                      a(href='#') Privacy Policy
                    li
                      a(href='#') Sitemap
              hr
            .container
              .row
                .col-md-8.col-sm-6.col-xs-12
                  p.copyright-text
                    | Copyright &copy; 2020 All Rights Reserved by 
                    a(href='#') SmartBricks
                    | .
                .col-md-4.col-sm-6.col-xs-12
                  ul.social-icons
                    li
                      a.facebook(href='mailto:sengroup21@gmail.com')
                        i.zmdi.zmdi-email
                    li
                      a.twitter(href='https://github.com/pranav-04/SmartBricks' rel='noopener noreferrer' target='_blank')
                        i.zmdi.zmdi-github
                    li
                      a.linkedin(href='#')
                        i.zmdi.zmdi-linkedin


    script.
      var slider = document.getElementById("slider");
      var emi = document.getElementById("emi");
      emi.innerHTML = slider.value ;
      slider.oninput = function() {
      emi.innerHTML = this.value;
      }
      //- slider.addEventListener("mousemove",function(){
      //-   var x = (slider.value*slider2.value*Math.pow(1+slider2.value,slider3.value))/(Math.pow(1+slider2.value,slider3.value) - 1) ;
      //-   output.innerHTML = x;
      //- })
    script.
      var slider = document.getElementById("slider");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value;
      slider.oninput = function() {
      output.innerHTML = this.value;
      }
      slider.addEventListener("mousemove",function(){
        var x = slider.value;
        var color = 'linear-gradient(90deg, green ' + x + '%,#3a3434 '+x+'%)'
        slider.style.background = color; 
      })
      
    script.
      var slider2 = document.getElementById("slider2");
      var output2 = document.getElementById("demo2");
      output2.innerHTML = slider2.value;
      slider2.oninput = function(){
        output2.innerHTML = this.value;
      }
      slider2.addEventListener("mousemove",function(){
        var x = slider2.value;
        var i = (x-7)*2
        x = i*(100/26)
        var color = 'linear-gradient(90deg, green ' + x + '%,#3a3434 '+x+'%)'
        slider2.style.background = color; 
      })

    script.
      var slider3 = document.getElementById("slider3");
      var output3 = document.getElementById("demo3");
      output3.innerHTML = slider3.value;
      slider3.oninput = function(){
        output3.innerHTML = this.value;
      }
      slider3.addEventListener("mousemove",function(){
        var x = slider3.value;
        x = x*(100/45)
        var color = 'linear-gradient(90deg, green ' + x + '%,#3a3434 '+x+'%)'
        slider3.style.background = color; 
      })

    script.
      // Open the chat
      function openchat() {
      document.getElementById("mychat").style.display = "block";
      }
      function closechat() {
      console.log("ok")
      document.getElementById("mychat").style.display = "none";
      }
    script(async='' defer='' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC64yq4OZ8jKEdSSW8vZ7v77egzUs-nmoA&callback=initMap' type='text/javascript')
    script(src='/js/main.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      // Initialize and add the map
      function initMap() {
      // The location of Uluru
      const latitude = "#{lat}"
      const longitude = "#{lon}"
      console.log(latitude,longitude) 
      var uluru = {lat: parseFloat(latitude), lng: parseFloat(longitude)};
      // The map, centered at Uluru
      var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 10, center: uluru});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: uluru, map: map});
      }
    script.
      function calculate(){
        console.log("hello");

          var rs = document.getElementById("rs");
          rs.style.display = 'inline-block'
          var rs1 = document.getElementById("rs1");
          rs1.style.display = 'inline-block'
          var rs2 = document.getElementById("rs2");
          rs2.style.display = 'inline-block'
          var amount = document.getElementById("slider");
          var apr = document.getElementById("slider2");
          var years = document.getElementById("slider3");
          var payment = document.getElementById("demo4");
          var total = document.getElementById("demo5");
          var totalinterest = document.getElementById("demo6");

          var principal = parseFloat(100000*amount.value);
          var interest = parseFloat(apr.value) / 100 / 12;
          var payments = parseFloat(years.value) * 12;

          var x = Math.pow(1 + interest, payments); //Math.pow computes powers
          var monthly = (principal*x*interest)/(x-1);

          payment.innerHTML = monthly.toFixed(2);
          total.innerHTML = (monthly * payments).toFixed(2);
          totalinterest.innerHTML = ((monthly*payments)-principal).toFixed(2);
      }
    script.
      // Open the Modal
      function openModal() {
      document.getElementById("myModal").style.display = "block";
      }
      // Close the Modal
      function closeModal() {
      document.getElementById("myModal").style.display = "none";
      }
      var slideIndex = 1;
      showSlides(slideIndex);
      // Next/previous controls
      function plusSlides(n) {
      showSlides(slideIndex += n);
      }
      // Thumbnail image controls
      function currentSlide(n) {
      showSlides(slideIndex = n);
      }
      function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
      }

    script.
      let count=0;
      $('.navTrigger').click(function () {
      if(count===0)
      {
      openNav();
      count= count+1;
      }
      else
      {
      closeNav();
      count=0;
      }
      })
    script.
      function openNav()
      {
      document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav()
      {
      document.getElementById("mySidenav").style.width = "0";
      }
    script.
      $(window).scroll(function() {
      if ($(document).scrollTop() > 50) {
      $('.nav').addClass('affix');
      console.log("OK");
      } else {
      $('.nav').removeClass('affix');
      }
      });
    script.
      function myFunction() {
      var element = document.getElementById('l');
      element.classList.add('affix');
      }
  


  

  