extend layout2

append head
  link(rel='stylesheet' href='/css/Search/search.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
  link(href='/css/Property/navbar.css' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='/css/Main_Page/footer1.css')

block content
  section#nav-bar-1
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Back to Home
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | BHK
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') 1 BHK
              a.dropdown-item(href='#') 2 BHK
              // <div class="dropdown-divider"></div>
              a.dropdown-item(href='#') 3 BHK
              a.dropdown-item(href='#') 4 BHK
              a.dropdown-item(href='#') 5 BHK
              a.dropdown-item.a1(href='#') &gt; 5 BHK
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Budget
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#')
                i.fa.fa-inr
                |  5 Lac
              a.dropdown-item(href='#')
                i.fa.fa-inr
                |  10 Lac
              a.dropdown-item(href='#')
                i.fa.fa-inr
                |  40 Lac
              a.dropdown-item(href='#')
                i.fa.fa-inr
                |  70 Lac
              a.dropdown-item(href='#')
                i.fa.fa-inr
                |  1 Cr
              a.dropdown-item(href='#')
                i.fa.fa-inr
                |  2 Cr
              a.dropdown-item(href='#')
                i.fa.fa-inr
                |  4 Cr
              a.dropdown-item(href='#')
                i.fa.fa-inr
                |  5 Cr
              
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Sort By
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#')
                i.fa.fa-long-arrow-up
                |  Price - Low to High
              a.dropdown-item(href='#')
                i.fa.fa-long-arrow-down
                |  Price - High to Low
              // <div class="dropdown-divider"></div>
              a.dropdown-item(href='#')   Most Recent 
              a.dropdown-item(href='#')
                i.fa.fa-long-arrow-up
                |  sqft - Low to High
              a.dropdown-item(href='#')
                i.fa.fa-long-arrow-down(aria-hidden='true')
                |  sqft - High to Low

          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Area
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') 0 - 1000
              a.dropdown-item(href='#') 1000 - 2000
              a.dropdown-item(href='#') 2000 - 4000 
              a.dropdown-item(href='#') &gt; 4000




  section#price(style="padding-top:95px")
    .container
      each property, i in properties
        .single-price
          .row
            .col-md-4
              img(src='uploads/'+property.images[0] style='width:100%;height:100%;padding:10px')
            .col-md-8
              .price-content
                ul
                  li
                    p.ff(style='display:inline;font-size:15px') Name
                    h3  : #{property.Name} 
                    if property.verified == true
                      i.fa.fa-check-circle.fa-2x(style="color:green")
                    if property.verified == false
                      if property.req_verified == true
                        i.fa.fa-calendar-check-o.fa-2x
                    p(style="margin:0;text-transform: uppercase;font-family:Poppins-SemiBold;font-size:15px") By #{property.Owner}
                    p(style="margin:0;text-transform: uppercase;font-family:Poppins-SemiBold;font-size:15px") In #{property.Location}
                  li
                    p.ff(style='display:inline;font-size:15px')
                      i.fa.fa-inr
                      |  Price
                    if property.Price > 9999999
                      h3 : #{property.Price/10000000} Cr. ( 
                    else  
                      h3 : #{property.Price/100000} Lac. (
                    i.fa.fa-inr
                    - number = Math.round(property.Price/property.Sqfoot)
                    h3  #{number} per sqft)
                  
                  li
                    p.ff(style='display:inline;font-size:15px') Area
                    h3  : #{property.Sqfoot} sqft.              
                  
                    p.ff(style='display:inline;font-size:15px') No of BHK
                    h3  : #{property.BHK}
                  li
                    p.ff(style='display:inline;font-size:15px') Description
                    h3(style="font-size:10px")  : #{property.Description}
              .price-button
                a.buy-btn(href="/property/"+property._id)  More Details 
                a.buy-btn(href='#')  Add to wishlist
                a.buy-btn(href='#')  Contact Owner 
  footer.site-footer
    .container
      .row
        .col-sm-12.col-md-6
          h6 About SmartBricks
          p.text-justify
              | SmartBricks is a high-end property portal that caters to a global market with its unique services and novel online features. SmartBricks have been launched in the year 2020 by a group of students. The SmartBricks design is based on rigorous research, unique product developments, and innovative initiative which has been readily accepted by users. In an attempt to best serve the users, features on the SmartBricks realty portal are constantly invented, evaluated and upgraded.
        .col-xs-6.col-md-3
          h6 Categories
          ul.footer-links
            li
              a(href='/') Buy
            if !user
              li
                a(href='/users/login') Sell
            else
              li
                a(href='/property/sell') Sell
            li
              a(href='#') Statistic
            li
              a(href='#') Filter
        .col-xs-6.col-md-3
          h6 Quick Links
          ul.footer-links
            li
              a(href='/#aboutUs') About Us
            li
              a(href='/contactus') Contact Us
            li
              a(href='#') Contribute
            li
              a(href='#') Privacy Policy
            li
              a(href='#') Sitemap
      hr
    .container
      .row
        .col-md-8.col-sm-6.col-xs-12
          p.copyright-text
            | Copyright &copy; 2020 All Rights Reserved by 
            a(href='#') SmartBricks
            | .
        .col-md-4.col-sm-6.col-xs-12
          ul.social-icons
            li
              a.facebook(href='mailto:sengroup21@gmail.com')
                i.fa.fa-envelope
            li
              a.twitter(href='https://github.com/pranav-04/SmartBricks' rel='noopener noreferrer' target='_blank')
                i.fa.fa-github
            li
              a.linkedin(href='#')
                i.fa.fa-linkedin


      

  

  
    